div#day {
    position:fixed; top:2%; right:2%;
    z-index: -1000;
    text-align: right;
}

div#day h2 {
    text-transform: uppercase;
    color: rgba(255, 0, 0, 0.6);
}

div#logo {
    background: #111 url('greyCFbullet.png') no-repeat right bottom !important;
    width: 110%;
    height: 110%;
    opacity: 0.1;
    z-index: -9999;
}

.set i {
    font-weight: bolder;
    font-style: normal;
    font-size: 0.8em;
    padding-right: 0.2em;
    vertical-align: text-top;
    color: rgba(0, 255, 151, 1);
}

.reveal p.set {
    padding-bottom: 0.2em;
    text-transform: uppercase;
    text-align: left;
    display: block;
    margin: 0.1em 0 0.2em 0;
    font-size: 2.1em;
    font-weight: bold;
    letter-spacing: 0.1em;
    border-bottom: rgba(200, 200, 200, 0.3) 0.1em solid;
}
