div#day {
    position:fixed; top:2%; right:2%;
    z-index: -1000;
    width: 80%;
}

div#day h2 {
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.5;
    text-align: right;
}

div#day h1 {
    text-transform: uppercase;
    font-size: 15em;
    z-index: -9988;
    color: #ffffff;
    opacity: 0.15;
    text-align: left;
    white-space: nowrap;
}

div#logo {
    background: #111 url('greyCFbullet.png') no-repeat right bottom !important;
    width: 130%;
    height: 130%;
    width: 90%;
    height: 90%;
    opacity: 0.20;
    z-index: -9999;
}

.set i {
    font-weight: bolder;
    font-style: normal;
    padding-right: 0.5em;
    color: rgba(0, 255, 151, 1);
    /*color: rgba(255, 98, 195, 1);*/
}

.reveal p.set {
    font-weight: bold;
    font-size: 1.9em;
    margin: 0.1em 0 0.2em 0;
    padding-bottom: 0.2em;
    text-transform: uppercase;
    text-align: left;
    display: block;
    letter-spacing: 0.1em;
    border-bottom: rgba(200, 200, 200, 0.3) 0.1em solid;
}
