.reveal .day {
	position:fixed; top:2%; right:2%;
	z-index: -1000;
	color: #FF0000;
	line-height: 0.5em;
	margin: 0 0 0 6em;
}

.reveal ul.super {
	list-style-type: none;
	margin: 0;
}

.set i, .super i {
	float: left;
	position: fixed;
	left: 0;
	font-size: 2em;
	font-weight: bolder;
	font-style: normal;
	line-height: 0.7em;
	text-align: right;
    color: rgba(0, 255, 151, 0.64);
}

.reveal p.set, .reveal ul.super {
	text-transform: uppercase;
	text-align: left;
	display: block;
	margin-left: 2em;
	font-size: 1.4em;
	letter-spacing: 0.1em;
	border-bottom: #808080 2px solid;
}